/* This file is for your main application css. */

@import "./phoenix.css";

@import "../../deps/phoenix_live_view/assets/css/live_view.css";

.container {
  margin: 0;
  max-width: none;
}

table.chessboard {
  margin-top: 20px;
  background: #999;
  border: 25px solid #333;
  border-collapse: collapse;
}

td.chessboard {
  width: 70px; height: 70px;
  border: 2px solid #333;
  font-size: 50px;
  text-align: center;
}

tr.chessboard:nth-child(odd) td.chessboard:nth-child(even), tr.chessboard:nth-child(even) td.chessboard:nth-child(odd) {
  background: white;
}
